.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

input:focus {
    border-color: #2511d6;
    outline: none;
}
.label-form {
    margin-top: 0.5rem;
    font-weight: bold;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin: auto;
}
.radio-form{
 height: 20px;
 width: 3rem;
}